*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    height:  100vh;
    width: 100%;

}
.context{
    text-align: center;
    color: white;
    width: 60%;
    height: 300px;
    position: relative;
 z-index: 190000000;
 margin-top: 100px;
}

.container{ 
 
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('./Photos/Cake.jpeg');
    background-position: center;
    background-size: cover;
  
    
}


.overlay{

    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1;
    opacity: .8;
    margin: auto;
 
   
    

}

.content{
   
    border: 3px white solid;
    width: 700px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 position: absolute;;
 margin: auto;
    color: white;
    z-index: 2;
}


img{
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    z-index: 2;
}

.spn-left{
    
    background-color: rgb(130, 130, 139);
    font-size: 40px;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 45%;
    float: left;
    left: 0;
    left: -20px;
    border-radius: 100%;
    cursor: pointer;
}

.spn-right{
    background-color: rgb(130, 130, 139);
    font-family: "Font Awesome 5 Free";
    font-size: 40px;
    position: absolute;
    top: 45%;
    float: right;
    right: -20px;
    border-radius: 100%;
    cursor: pointer;
}


.spn-right:hover{
  background-color:  rgb(97, 78, 112);
    transition: 0.2s;
}

.spn-left:hover{
    background-color:  rgb(97, 78, 112);
    transition: 0.2s;
}
    

#text1{
    margin-top: 15px;
    margin-bottom: 20px;
    
}

#text2{

    margin-top: 70px;
}
